@import './shared.scss';

.headerFirstRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.lang-btn{
    display: flex;
    align-items: center;
    > img {
        margin-right: 3px;
    }
}
.functionTag{
    display: flex;
    .tag{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 36px;
        border-radius: 6px 6px 0px 0px;
        background-color: $background-blue;
        font-weight: bold;
        text-decoration: none;
        margin-right: 8px;
        color: aliceblue;
        >span{
            padding-left: 6px;
            text-decoration-line: none;
        }
    }
}
