@import './shared.scss';
.priceCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 80%;
    border-radius: 3px;
    box-shadow: $box-shadow;
    background-color: #eee;
    font-weight: bold;
    transition: all 0.5s linear;
    &.check{
        background-color: rgb(87, 87, 87);
        color: #fff;
    }
    .price{
        font-size: 28px;
    }
    .decoration{
        position: absolute;
        top: 4px;
        left: 4px;
        font-size: 22px;
    }
    &:hover{
        transform: scale(1.1);
    }
}