.HeadBanner{
    width: 100%;
    height: 230px;
    background-image: url('../assets/img/tourMap.jpg');
    background-size: cover;
    margin-bottom: 40px;
    position: relative;
    .bannerMask{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.3)
    }
    > h1 {
        position: absolute;
        left: 15%;
        top: 16%;
        font-size: 36px;
        font-weight: 400;
        color: #fff;
        z-index: 9;
    }
}
.layout{
    .textArea{
        margin-top: 40px;
        font-size: 12px;
    }
}