$background-blue:#00b2d6;
$background-deepBlue:#008ca8;
$background-economy:#2962FF;
$background-business:#1565C0;
$background-cartFee:#eceff7;
$background-progress:#1565C0;
$box-shadow:0px 0px 4px 1px rgba(0,0,0,0.5);
